appdirs==1.4.3
cachetools==2.0.0
click==6.7
dill==0.2.6
enum34==1.1.6
Flask==0.12.1
future==0.16.0
futures==3.0.5
gapic-google-cloud-vision-v1==0.90.3
google-auth==0.10.0
google-auth-httplib2==0.0.2
google-cloud-core==0.24.0
google-cloud-vision==0.24.0
google-gax==0.15.8
googleapis-common-protos==1.5.2
grpcio==1.2.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth2client==3.0.0
packaging==16.8
ply==3.8
proto-google-cloud-vision-v1==0.90.3
protobuf==3.2.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.2.0
rsa==3.4.2
six==1.10.0
Werkzeug==0.12.1
